{
  "presets": [
    [
      "@babel/preset-env"
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "db": "./app/db",
          "routes": "./app/routes",
          "models": "./app/models",
          "utils": "./app/utils",
          "services": "./app/services",
          "documents": "./app/documents",
          "constraints": "./app/constraints"
        }
      }
    ]
  ]
}